//////////////////////////////
///////////Mixins/////////////
//////////////////////////////

$gradientDotColorOne: #A3CEF1;
$gradientDotColorTwo: #7BDFF9;
$gradientDotColorThree: #5FEEEB;
$gradientDotColorFour: #78F8C7;
$gradientDotColorFive: #B3FC99;
$gradientDotColorSix: #F9F871;

$colorBlack: #333;
$colorWhite: #fff;
$colorRed: #d00000;

@mixin flex {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin inlineFlex {
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin grid {
	display: -ms-grid;
    display: grid;
}

@mixin inlineGrid {
	display: -ms-inline-grid;
    display: inline-grid;
}

.iconContainer {
	@include flex;
	align-items: center;
	justify-content: center;
}

@mixin font-bree {
	font-family: "Bree Serif", "serif";
}

@mixin font-open-sans {
	font-family: "Open Sans", "sans-serif";
}

@mixin transition($property, $time) {
	-webkit-transition: $property $time;
	   -moz-transition: $property $time;
	     -o-transition: $property $time;
	        transition: $property $time;
}

@mixin transitionAll($time) {
	-webkit-transition: all $time;
	   -moz-transition: all $time;
	     -o-transition: all $time;
	        transition: all $time;
}

@mixin translateX($scale) {
	-webkit-transform: translateX($scale);
        -ms-transform: translateX($scale);
            transform: translateX($scale);
}

@mixin translateY($scale) {
	-webkit-transform: translateY($scale);
        -ms-transform: translateY($scale);
            transform: translateY($scale);
}


.textFieldContainer {
	position: relative;

	&--red {
		.textFieldContainer_input {
			border: 1px solid #D00000;
		}
	}

	&--textarea {

		.textFieldContainer_input {
			height: 200px;
			@include font-open-sans;
		}

		.textFieldContainer_label {
			margin-bottom: 10px;
		}

	}

	&_input {
		padding: 10px;
		// padding-top: 13px;
		// padding-bottom: 0px;
		// height: 52px;
		width: 100%;
		max-width: 100%;
		font-size: 1.1em;
		line-height: 1.8em;
		box-sizing: border-box;
		box-shadow: none;
		outline: none;
		border: none;
		border: 1px solid #d0d0d0;
		border-radius: 5px;
		margin-bottom: 25px;
		background-color: #fff;
		color: #424242;
		-webkit-transition: background-color 0.1s;
		transition: background-color 0.1s;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&--disabled {
			background-color: #E1E1E1;
			border: none;
			border-bottom: none;
			// border-radius: 0px;
			transition: 0.3s;
			color: #5A5A5A;
			pointer-events: none;

			&:hover {
				cursor: default !important;
				background-color: #E1E1E1 !important;
			}

		}

		&:focus ~ label,
		&:not(:placeholder-shown) ~label {
			// line-height: 10px;
			font-size: 0.9em;
			font-weight: 700;
			// top: 8px;
			// transform: translateY(-12px);
		}

		&:focus ~ label {
			font-weight: 700;
			color: #315979;
		}

		&:focus{
			// transition: 0.1s;
			border: 1px solid #2A2A72;
		}

		&:hover {
			background-color: #FCFCFC;
		}

	}

	&_label {
		// position: absolute;
		display: block;
		padding-left: 3px;
		line-height: 1.8em;
		font-size: 1.2em;
		font-weight: 600;
		// top: 11px;
		// left: 10px;
		color: #333;
		-webkit-transition: all 0.1s;
		transition: all 0.1s;
		pointer-events: none;
		margin-bottom: 5px;

		&--disabled {
			color: #5A5A5A;
			font-weight: 400;
		}

	}

	.errorMessage {
		background-color: #D00000;
	    padding: 8px 12px;
	    border-radius: 5px;
	    margin-top: -5px;
	    margin-bottom: 10px;

		&_text {
			font-size: 1.1em;
			color: #fff;
			&_icon {
				margin-right: 3px;
			}
		}

	}
	
}

@media only screen and (max-width: 500px) {
	.textFieldContainer_label {
		-webkit-transition: 0.1s, font-weight 0s, font-size 0s, color 0s !important;
		transition: 0.1s, font-weight 0s, font-size 0s, color 0s !important;
	}
}

div, nav {
	box-sizing: border-box;
}

//////////////////////////////
/////////////IE///////////////
//////////////////////////////

//////////////////Row 1//////////////////

.row1col1 {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	// display: block;
}

.row1col2 {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	// display: block;
}

.row1col3 {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	// display: block;
}

//////////////////Row 2//////////////////

.row2col1 {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	// display: block;
}

.row2col2 {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	// display: block;
}

.row2col3 {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
	// display: block;
}

//////////////////Row 2//////////////////

.row3col1 {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	// display: block;
}

.row3col2 {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
	// display: block;
}

.ro3col3 {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
	// display: block;
}

//////////////////////////////
////////////Body//////////////
//////////////////////////////

body {
	width: 100%;
	background-color: $colorWhite;
	margin: 0px;
	@include font-open-sans;
	font-size: 14px;
	color: $colorBlack;
}

.overflowHidden {
	overflow: hidden;
}

.boldText {
	font-weight: 700 !important;
}

.italicText {
	font-style: italic;
}

.whiteText {
	color: $colorWhite;
}

.redText {
	color: $colorRed;
}

.displayNone {
	display: none !important;
}

.noUnderline {
	text-decoration: none !important;
}

.link {
	// color: #1b34a7 !important;
	color: #fff !important;
	text-decoration: underline !important;

	&:hover {
		// color: #1b34a7 !important;
		color: #fff !important;
		text-decoration: underline !important;
	}

}

.h1, .h2, .h3, .h4, .h5 {
	@include font-bree;
}

.paddingLeft5 {
	padding-left: 5px;
}

.fullHeight {
	height: 100vh;
}

.maxWidth {
	width: 90%;
	max-width: 1024px;
	margin: auto;

	&--1200 {
		max-width: 1200px;
	}

	&--800 {
		max-width: 800px;
	}

}

.gridContainer {
	@include grid;

	&--2col {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
	}

}

.pageContent {
	padding-top: 100px;
}

//////////////////////////////
///////////Layout/////////////
//////////////////////////////

.skipNav {
    position: absolute;
    left: -120px;
    top: 20px;
	font-size: 1.2em;
    line-height: 1.5em;
    color: $colorWhite;

    &:focus {
    	left: 140px;
    }

}

.navContainer {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	// box-shadow: 0px 2px 8px #e3e3e3;

	&_content {
		width: 100%;
		@include inlineFlex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 20px;
		padding-right: 40px;
		background: rgb(42,42,114);
		background: linear-gradient(90deg, rgba(42,42,114,1) 0%, rgba(50,14,59,1) 100%);
		@include transition(left, 0.2s);

		.logoContainer {
			// margin-left: 20px;
			display: block;

			&_img {
				width: 100%;
				max-width: 50px;
				max-height: 50px;
				border-radius: 100%;
				display: block;
				margin: auto;
			}

			&_text {
				@include flex;
				display: block;
				margin: auto;
				height: 60px;
				width: 60px;
				border-radius: 100%;
				background-color: $colorWhite;
				margin: auto;
				// margin-left: 15px;
				font-size: 2em;
				line-height: 60px;
				text-align: center;
			}

		}

		.navItems {
			@include inlineFlex;
			flex-wrap: wrap;
			align-items: center;
			// margin-right: 20px;

			.navItem {
				text-decoration: none;
				display: block;
				margin-right: 50px;

				&--button {
					padding: 10px 25px;
					padding-bottom: 12px;
					border: 1px solid $colorWhite;
					border-radius: 5px;
					@include transition(background-color, 0.2s);

					&:hover {
						background-color: $colorWhite;

						.navItem_text {
							color: #320e3b;
						}

					}

					.navItem_text {
						@include transition(color, 0.2s);
						text-decoration: none !important;
						
						// &:after {
						//     display: none;
						// }

					}

				}

				&:last-of-type {
					margin-right: 0px;
				}

				&:hover {
					cursor: pointer;

					.navItem_text {
						text-decoration: underline;

						// &:after {
						//     width: 50%;
						// }

					}

				}

				&_text {
					position: relative;
					font-size: 1.2em;
					text-decoration: none;
					color: $colorWhite;

					// &:after {
					// 	content: "";
					//     position: absolute;
					//     width: 0px;
					//     height: 3px;
					//     bottom: -15px;
					//     left: 25%;
					//     // border-radius: 10px;
					//     background-color: $colorWhite;
					//     @include transition(width, 0.2s);
					// }

				}

			}

		}

		.menuContainer {
			display: none;
			height: 40px;
			width: 40px;
			border: 1px solid #fff;
			border-radius: 5px;

			&_icon {
				font-size: 20px;
				color: #fff;
				margin-top: 2px;
			}

		}

		.navSpace {
			display: none;
		}

		.navDivider {
			display: none;
		}

		.contactIcons {
			display: none;

			.contactIcon {
				background-color: rgba(255,255,255,.2);
			}

		}

		&--mobile {
			display: none;
			position: fixed;
			top: 0px;
			left: -100%;

			.navItems {
				display: block;
				margin-top: 20px;
				padding: 25px 0px;
				border-top: 1px solid rgba(255,255,255,.2);
			    grid-column: 1 / span 3;
			    text-align: center;

				.navItem {
					margin: auto;
					margin-right: 0px;
					margin-bottom: 40px;

					&:last-of-type {
						margin: 0px;
						margin: auto;
					}

					&--button {
						margin: auto;
						max-width: 300px;
					}

				}

			}

			.navDivider {
				height: 1px;
				width: 150px;
				display: block;
			    grid-column: 1 / span 3;
				margin: 20px auto;
				background-color: rgba(255,255,255,.2);
			}

			.contactIcons {
				@include grid;
				padding: 15px 0px;
				padding-top: 10px;
			    grid-column: 1 / span 3;
			    grid-column-gap: 20px;
			    text-align: center;

			    .contactIcon {
			    	height: 50px;
			    	width: 50px;

			    	&_icon {
			    		font-size: 22px;
			    		margin-top: 5px;
			    	}

			    }

			}

		}

		&--slideDown {
			left: 0px;
			z-index: 999;
		}

	}
	
}

.gradientBar {
	display: block;
	height: 8px;
	width: 100%;
	background-color: $colorBlack;
	background: rgb(163,206,241);
	background: linear-gradient(90deg, rgba(163,206,241,1) 0%, rgba(123,223,249,1) 20%, rgba(95,238,235,1) 40%, rgba(120,248,199,1) 60%, rgba(179,252,153,1) 80%, rgba(249,248,113,1) 100%);
}

.sectionContainer {

	.section {
		padding: 80px 0px;

		&--hero {
			@include flex;
			align-items: center;
			// justify-content: center;
			padding: 100px 0px;

			.section_content {
				width: 90%;
				@include grid;
				-ms-grid-columns: 365px 1fr;
				grid-template-columns: 365px 1fr;
				grid-column-gap: 40px;

				.tagLine {
					@include inlineFlex;
					align-items: center;
					width: 100%;
					// margin-bottom: 20px;
					// padding: 15px 0px;
					// border-top: 1px solid #eaeaea;
					// border-bottom: 1px solid #eaeaea;

					&_divider {
						display: block;
						margin: 0px 15px;
						width: 1px;
						height: 15px;
						background-color: #d0d0d0;
					}

					&_h2 {
						margin: 0px;
						font-size: 1.2em;
						font-weight: 600;
					}

				}

				&_imageContainer {
					@include flex;
					align-items: center;

					&--mobile {
						display: none;
					}

					&_img {
						width: 100%;
						max-width: 280px;
						border-radius: 5px;
						display: block;
						margin: auto;
					}

				}

				.textContainer {
					margin-left: 20px;

					.buttonContainer {

						&_button {
							margin-top: 20px;
						}

					}

				}

			}

		}

		&--blue {
			background-color: #EDF6FC;
		}

		&--gradient {
			background: rgba(42,42,114,.5);
			background: linear-gradient(90deg, rgba(42,42,114,.6) 0%, rgba(50,14,59,.6) 100%);
		}

		&--training {

			.section_content {
				width: 90%;
				@include grid;
				-ms-grid-columns: 1fr 400px;
				grid-template-columns: 1fr 400px;
				grid-column-gap: 100px;

				.sectionHeading {
					// grid-column: 1 / span 2;

					&_h2 {
						margin-bottom: 30px;
					}

				}

			}

		}

		&--gallery {
			padding: 100px 0px;

			.section_content {
				
			}

		}

		&_content {
			display: block;
			margin: auto;
		}

	}

}

.gallery {
	width: 90%;
	max-width: 1024px;
	margin: auto;
	@include grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	
	&_col {

		&--marginTop {
			margin-top: 70%;
		}

	}

	.placeholder {
		width: 100%;
		height: 45%;
		border-radius: 5px;

		&--yellow {
			background-color: #FFFCEB;
		}

		&--blue {
			background-color: #EDF6FC;
		}

	}

	.imageContainer {

		&_img {
			display: block;
			width: 100%;
			border-radius: 5px;
			margin-bottom: 20px;
		    box-shadow: 0px 2px 8px #dcdcdc;
		}

	}

}

.contactForm {
	padding: 30px 40px;
	background-color: #fff;
	border-radius: 5px;

	#contact_form_confirmation {
		display: block !important;
	}

	#contact_form_body {
		display: none !important;
	}

	.confirmation {
		@include grid;
		-ms-grid-columns: 80px 1fr;
		grid-template-columns: 80px 1fr;
		margin-bottom: 40px;
		padding: 20px 0px;
		background-color: #fff0f8;
		border: 1px solid #DC0073;
		border-radius: 5px;

		&_iconContainer {
			border-right: 1px solid #DC0073;

			&_icon {
				color: #DC0073;
				font-size: 30px;
			}

		}

		&_textContainer {
			padding: 0px 20px;
			padding-left: 25px;

			&_text {
				display: block;
				font-size: 1.2em;
				line-height: 1.5em;

				&--heading {
					font-size: 1.3em;
					margin-bottom: 10px;
				}

			}

		}


	}

	.sectionHeading {

		&_h2 {
			margin-bottom: 30px;
		}

	}

	.gradientBar {
		margin-bottom: 35px;
	}

	.buttonContainer {
		padding-top: 20px;
		padding-bottom: 40px;
		margin-bottom: 30px;
		border-bottom: 1px solid #eaeaea;

		.button {
			width: 100%;
			max-width: 250px;
			margin: auto;
		}

	}

}

.contactIcons {
	width: fit-content;
	@include grid;
	-ms-grid-columns: 60px 60px 60px 60px;
	grid-template-columns: 60px 60px 60px 60px;
	grid-column-gap: 30px;
	margin: auto;

	.contactIcon {
		height: 60px;
		width: 60px;
		background-color: #2A2A72;
		border-radius: 100%;
		cursor: pointer;
		@include transition(transform, 0.2s);

		&:hover {
			background-color: #1d1d5a;
			@include translateY(-3px);
		}

		&_icon {
			color: #fff;
			font-size: 26px;
			margin-top: 4px;
		}

	}

}

.bulletContainer {
	margin: auto 0px;

	.bullet {
		width: 100%;
		display: block;
		background-color: #fff;
		margin-bottom: 20px;
		padding: 12px 20px;
		box-shadow: 0px 2px 8px #DBE8F1;

		&:last-of-type {
			margin-bottom: 0px;
		}

		&--1 {
			border-left: 7px solid $gradientDotColorOne;
		}

		&--2 {
			border-left: 7px solid $gradientDotColorTwo;
		}

		&--3 {
			border-left: 7px solid $gradientDotColorThree;
		}

		&--4 {
			border-left: 7px solid $gradientDotColorFour;
		}

		&--5 {
			border-left: 7px solid $gradientDotColorFive;
		}

		&--6 {
			border-left: 7px solid $gradientDotColorSix;
		}

		&_heading {
			margin: 0px;
			margin-bottom: 3px;
			font-size: 1.2em;
			line-height: 1.5em;
			font-weight: 700;

			&_icon {
				margin-right: 5px;
			}

		}

		&_text {
			margin: 0px;
			font-size: 1.1em;
			line-height: 1.5em;
			font-weight: 400;
		}

	}

}

.textContainer {
	display: block;
	margin: auto;

	&_p {
		margin: 0px;
		font-size: 18px;
		line-height: 32px;
	}

}

.sectionHeading {
	@include font-bree;
	margin: 0px;

	&_h1 {
		margin: 0px;
		margin-bottom: 20px;
		font-size: 2.8em;
		line-height: 1.4em;
	}

	&_h2 {
		margin: 0px;
		margin-bottom: 20px;
		font-size: 2.4em;
		line-height: 1.2em;
	}
	
}

.sectionText {
	// max-width: 900px;
	margin: 0px;
	margin-bottom: 15px;
	font-size: 1.2em;
	line-height: 1.7em;

	&_ul {
		padding-left: 35px;
	}

}

.heroImagesContainer {
	@include grid;
	-ms-grid-columns: 45px 1fr;
	grid-template-columns: 45px 1fr;
	grid-column-gap: 40px;

	&--mobile {
		display: none;
		max-width: 350px;
		margin-top: 30px;
		margin-bottom: 30px;
		-ms-grid-columns: 1fr 45px;
		grid-template-columns: 1fr 45px;

		.section_content_imageContainer_img {
			max-width: 100% !important;
		}

	}

}

.gradientDivider {
	display: block;
	width: 100%;
	height: 1px;
	margin: 15px 0px;
	background: rgb(163,206,241);
    background: linear-gradient(90deg, #a3cef1 0%, #7bdff9 20%, #5feeeb 40%, #78f8c7 60%, #b3fc99 80%, #f9f871 100%);
}

.gradientDotContainer {
	@include inlineGrid;
	-ms-grid-columns: 1fr 5px 1fr;
	grid-template-columns: 1fr 5px 1fr;
	margin: auto;

	&--mobile {
		display: none;
	}

	&_column {
		@include inlineFlex;
		flex-wrap: wrap;
		display: inline-block;

		&--marginTop {
			margin-top: 15px;
		}

		.gradientDot {
			display: block;
			height: 20px;
			width: 20px;
			margin-bottom: 10px;
			border-radius: 100%;

			&:last-of-type {
				margin-bottom: 0px;
			}

			&--1 {
				background-color: $gradientDotColorOne;
			}

			&--2 {
				background-color: $gradientDotColorTwo;
			}

			&--3 {
				background-color: $gradientDotColorThree;
			}

			&--4 {
				background-color: $gradientDotColorFour;
			}

			&--5 {
				background-color: $gradientDotColorFive;
			}

			&--6 {
				background-color: $gradientDotColorSix;
			}

		}

	}

}

.audioContainer {
	width: 100%;
	@include grid;
	-ms-grid-columns: 1fr 45px;
	grid-template-columns: 1fr 45px;
	grid-gap: 20px;
	margin: 25px 0px;
	margin-bottom: 30px;

	&:last-of-type {
		margin-bottom: 0px;
	}

	&_player {
		display: block;
		height: 50px;
		width: 100%;
		border-radius: 25px;
		box-shadow: 0px 2px 8px #e3e3e3;
		border: 1px solid #eaeaea;
	}

	.buttonContainer {
		margin: auto 0px;
	}

}

audio {

	&::-webkit-media-controls-panel {
		background-color: #fff;
	}

// 	// &::-webkit-media-controls-mute-button {
// 	// 	color: #fff;
// 	// 	text-shadow: none;
// 	// }

// 	// &::-webkit-media-controls-current-time-display,
// 	// &::-webkit-media-controls-time-remaining-display,
// 	// &::-webkit-media-controls-volume-slider {
// 	// 	color: #fff;
// 	// 	text-shadow: none;
// 	// }

}

.buttonContainer {

	&--inlineFlex {
		@include inlineFlex;

		.button {
			margin-right: 20px;

			&:last-of-type {
				margin-right: 0px;
			}

		}

	}

	&--grid {
		@include grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}

	.button {
		width: fit-content;
		@include flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		text-decoration: none !important;
		color: #fff !important;
		padding: 15px 25px;

		background-size: 200% 100%;
	    background-image: linear-gradient(to right, #DC0073 50%, #2A2A72 50%);
	    @include transitionAll(0.3s);

	    &--ghost {
	    	border: 1px solid #DC0073;
	    	background-color: $colorWhite;
	    	background-image: none;
	    	// padding: 12px 20px;

	    	.button_text {
				color: #DC0073 !important;
				// font-size: 1em;
			}

			&:hover {
				background-color: #fff5fa;

				.button_text {
					color: #DC0073 !important;
				}

			}

	    }

	    &--circle {
	    	height: 45px;
	    	width: 45px;
	    	border-radius: 100%;
	    	padding: 0px;

	    	.button_text_icon {
	    		margin: 0px !important;
	    		font-size: 18px;
	    	}

	    }

	    &--spin {

	    	&:hover {
	    		pointer-events: none !important;
	    		background-position: initial !important;
	    	}

	    	.button_text_icon {
			    font-size: 20px;
			    height: 19px;
	    	}

	    }

		&--disabled {
			background-color: #d1d1d1;

			&:hover {
				background-color: #d1d1d1 !important;
				cursor: default !important;
			}

			.button_text {
				color: #656565 !important;
			}

			.button_icon {
				color: #656565 !important;
			}

		}

		&_text {
			@include flex;
			align-items: center;
			color: $colorWhite;
			text-decoration: none;
			font-size: 1.1em;
			@include transition(color, 0.2s);

			&_icon {
				font-size: 1em;
				margin-left: 12px;
				margin-top: 3px;
			}

		}

		&:hover {
			cursor: pointer;
			background-position: -100% 0;
		}

		&:hover .button_text {
			color: $colorWhite;
			text-decoration: none;
		}

	}

}

.footer {
	background: rgb(42,42,114);
	background: linear-gradient(90deg, rgba(42,42,114,1) 0%, rgba(50,14,59,1) 100%);
	padding: 40px 20px;
	display: block;
	text-align: center;

	&_icons {
		@include inlineFlex;
		align-items: center;
		justify-content: center;

		.iconContainer {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background-color: $colorWhite;
			margin-right: 15px;
			text-decoration: none !important;
			@include transition(background-color, 0.3s);

			&:last-of-type {
				margin-right: 0px;
			}

			&:hover {
				cursor: pointer;
				background-color: $colorWhite;
			}

			&_icon {
				font-size: 24px;
				margin-top: 2px;
				color: $colorBlack;
			}

		}

	}

	&_text {
		display: block;
		margin: auto;
		margin-top: 30px;
		font-size: 1.4em;
		color: $colorWhite;

		&_icon {
			margin-right: 5px;
		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

// Applies to IE only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	.ie-padding-right {
		padding-right: 40px;
	}

	.ie-width-minus-20 {
		width: calc(100% - 20px);
	}

	.ie-margin-top-30 {
		margin-top: 30px;
	}

	.gallery {

		&_col {
			padding-right: 20px;

			&--marginTop {
				margin-top: 10%;
			}

		}

	}

}

@media only screen and (max-width: 1024px) {

	.sectionContainer {

		.section {

			&--hero {

				.section_content {
					-ms-grid-columns: 335px 1fr;
					grid-template-columns: 335px 1fr;
					grid-gap: 30px;

					.heroImagesContainer {
						grid-column-gap: 30px;
					}

					&_textContainer {
						margin-left: 10px;
					}

				}

			}

			&--training {

				.section_content {
					-ms-grid-columns: 1fr 350px;
					grid-template-columns: 1fr 350px;
					grid-gap: 50px;
				}

			}

		}

	}

}

@media only screen and (max-width: 880px) {

	.sectionContainer {

		.section {

			&--hero {

				.section_content {
					-ms-grid-columns: 1fr;
					grid-template-columns: 1fr;

					.heroImagesContainer {

						&--mobile {
							@include grid;
						}

						&--desktop {
							display: none;
						}

					}

					.textContainer {
						margin-left: 0px;
					}

				}

			}

			&--training {

				.section_content {
					-ms-grid-columns: 1fr;
					grid-template-columns: 1fr;
					grid-row-gap: 20px;
				}

			}

			&--gallery {
				padding: 70px 0px;
			}

		}

	}

	.gallery {
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.bulletContainer {
		@include grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;

		.bullet {
			margin-bottom: 0px;
		}

	}

	.gridContainer {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

}

@media only screen and (max-width: 800px) {

	.bulletContainer {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}

}

@media only screen and (max-width: 700px) {
	
	// Switch to mobile nav bar
	.navContainer {

		&_content {
			@include grid;
			-ms-grid-columns: 45px 1fr 40px;
			grid-template-columns: 45px 1fr 40px;
			padding: 18px 20px;
			padding-left: 15px;

			.logoContainer {

				&_text {
					height: 45px;
					width: 45px;
					line-height: 45px;
					font-size: 1.6em;
				}

			}

			.navSpace {
				display: block;
			}

			.navItems {
				display: none;
			}

			.menuContainer {
				@include flex;
			}

			&--mobile {
				
				.navItems {
					display: block;
				}

				.contactIcons {
					@include grid;
				}

			}

		}

	}

	.pageContent {
		padding-top: 75px;
	}

	.sectionContainer {

		.section {
			padding-top: 50px;

			&--hero {
				padding-top: 30px;
			}

		}

	}

}

@media only screen and (max-width: 600px) {

	.sectionContainer {

		.section {

			&--training {

				.section_content {

					.bulletContainer {
						-ms-grid-columns: 1fr;
						grid-template-columns: 1fr;
					}

				}

			}

		}

	}

	.sectionHeading_h1 {
		font-size: 3em;
	}

	.buttonContainer {

		&--inlineFlex {
			display: block;

			.button {
				margin-right: 0px;
				margin-bottom: 20px;

				&:last-of-type {
					margin-bottom: 0px;
				}

			}

		}

		.button {
			width: 100%;
			padding: 15px 0px;
		}

	}

	.contactForm {
		padding: 30px;

		.buttonContainer {

			.button {
				max-width: 100%;
			}

		}

		.confirmation {
			display: block;
			padding: 20px;

			&_iconContainer {
				border-right: 0px;
				padding: 5px 0px;

				&_icon {
					font-size: 36px;
				}

			}

			&_textContainer {
				padding: 20px 0px;
				padding-bottom: 10px;
				text-align: center;

				&_text {

					&--heading {
						margin-bottom: 20px;
					}

				}

			}

		}

	}

}

@media only screen and (max-width: 500px) {

	.sectionHeading {

		&_h1 {
			margin-bottom: 15px;
			font-size: 2.6em;
			line-height: 1.3em;
		}

		&_h2 {
			margin-bottom: 15px;
			font-size: 2.2em;
			line-height: 1.1em;
		}
		
	}

	.sectionContainer {

		.section {

			&--hero {

				.section_content {

					.heroImagesContainer {

						&--mobile {
							max-width: 300px;
							-ms-grid-columns: 1fr 35px;
							grid-template-columns: 1fr 35px;
							grid-column-gap: 20px;

							.gradientDotContainer {

								.gradientDot {
									height: 15px;
									width: 15px;
								}

							}

						}

					}

				}

			}

			&--gallery {
				padding: 50px 0px;
			}

		}

	}

	.gallery {
		// -ms-grid-columns: 1fr;
		// grid-template-columns: 1fr;
		grid-gap: 10px;

		// &_col--marginTop {
		// 	margin-top: 0px;
		// }

		.imageContainer {
			// max-width: 260px;
			// margin: auto;
			margin-bottom: 10px;
		}

	}

	.contactForm {

		.confirmation {
			padding: 15px;
		}

	}

	.contactIcons {
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 20px;

		.contactIcon {
			height: 50px;
			width: 50px;

			&_icon {
				font-size: 22px;
			}

		}

	}

}

@media only screen and (max-width: 400px) {

	.contactForm {

		.gradientBar {
			margin-bottom: 30px;
		}

	}

	.contactIcons {
		grid-column-gap: 15px;

		.contactIcon {
			height: 45px;
			width: 45px;

			&_icon {
				font-size: 20px;
				margin-top: 3px;
			}

		}

	}

}