.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  font-family: "Lora", "serif";
  font-size: 12px;
  margin: 0px;
  padding-top: 70px;
  color: #333;
  background-color: #f4f4f4;
  width: 100%; }

.overflowHidden {
  overflow: hidden; }

.boldText {
  font-weight: 700 !important; }

.italicText {
  font-style: italic; }

.displayNone {
  display: none !important; }

.link {
  color: #1b34a7 !important;
  text-decoration: underline !important; }
  .link:hover {
    color: #1b34a7 !important;
    text-decoration: underline !important; }

.navContainer {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  box-shadow: 0px 2px 8px #bfbfbf; }
  .navContainer_content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 100%; }
    .navContainer_content .logoContainer {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-left: 20px; }
      .navContainer_content .logoContainer_img {
        width: 100%;
        max-width: 50px;
        max-height: 50px;
        border-radius: 100%;
        display: block;
        margin: auto; }
      .navContainer_content .logoContainer_text {
        display: block;
        margin: auto;
        margin-left: 15px;
        font-size: 1.6em; }
    .navContainer_content .navItems {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 20px; }
      .navContainer_content .navItems_item {
        display: block;
        margin-right: 25px; }
        .navContainer_content .navItems_item:last-of-type {
          margin-right: 0px; }
        .navContainer_content .navItems_item:hover {
          cursor: pointer; }
          .navContainer_content .navItems_item:hover .navItems_item_text {
            text-decoration: underline; }
        .navContainer_content .navItems_item_text {
          font-size: 1.2em;
          font-weight: 500;
          text-decoration: none; }
  .navContainer .gradientBar {
    display: block;
    height: 5px;
    width: 100%;
    background-color: #333;
    background: #006fa7;
    background: linear-gradient(90deg, #006fa7 0%, #0092bc 20%, #00b3b8 40%, #18d1a1 60%, #98e983 80%, #f9f871 100%); }

.heroSection {
  height: calc(100vh - 110px);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }
  .heroSection_content {
    display: block;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
    grid-template-columns: 200px 1fr; }
  .heroSection_imageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .heroSection_imageContainer_img {
      width: 100%;
      max-width: 200px;
      border-radius: 100%;
      display: block;
      margin: auto; }
  .heroSection_textContainer {
    display: block;
    margin: auto;
    margin-left: 30px; }
    .heroSection_textContainer_h1 {
      margin: 0px;
      font-size: 3em;
      line-height: 2em;
      font-family: "Merriweather", "serif"; }
    .heroSection_textContainer_h2 {
      margin: 0px;
      font-size: 2em;
      line-height: 2em;
      font-weight: 500; }
    .heroSection_textContainer .buttonContainer_button {
      margin-top: 20px; }

.section {
  height: calc(100vh - 110px);
  padding: 20px; }
  .section_header {
    display: block;
    padding-bottom: 20px;
    text-align: center; }
    .section_header_h2 {
      margin: 0px;
      font-size: 1.8em; }
  .section_body_imageContainer {
    text-align: center; }
    .section_body_imageContainer_img {
      width: 50%;
      max-width: 400px;
      box-shadow: 0px 2px 8px #e3e3e3;
      display: inline-block;
      margin: auto;
      margin-right: 30px; }
      .section_body_imageContainer_img:last-of-type {
        margin-right: 0px; }
      .section_body_imageContainer_img:hover {
        cursor: pointer; }
  .section_body_p {
    margin: 0px;
    font-size: 1.2em;
    line-height: 1.9em;
    max-width: 1024px;
    margin: 20px auto;
    margin-top: 0px; }
  .section_body_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1024px;
    margin: 20px auto;
    margin-top: 30px; }
    .section_body_cards .card {
      background-color: #fff;
      box-shadow: 0px 2px 8px #e3e3e3;
      border-radius: 10px;
      padding: 15px; }
      .section_body_cards .card_header {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid #eaeaea;
        width: 100%; }
        .section_body_cards .card_header_iconContainer {
          height: 35px;
          width: 35px;
          border-radius: 20px;
          background-color: #f7f3f5;
          margin-right: 10px; }
          .section_body_cards .card_header_iconContainer_icon {
            font-size: 1.5em;
            color: #B53978;
            margin-top: 1px; }
        .section_body_cards .card_header_h3 {
          margin: 0px;
          font-size: 1.4em;
          color: #B53978; }
      .section_body_cards .card_body {
        padding-top: 12px; }
        .section_body_cards .card_body_p {
          margin: 0px;
          font-size: 1.2em;
          line-height: 1.9em;
          color: #333; }
          .section_body_cards .card_body_p span {
            color: #B53978; }

.buttonContainer--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px; }
.buttonContainer_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  background-color: #C52233;
  color: #fff !important;
  text-decoration: none !important; }
  .buttonContainer_button--ghost {
    background-color: #fff;
    border: 2px solid #B53978;
    color: #B53978 !important; }
    .buttonContainer_button--ghost .buttonContainer_button_text {
      color: #B53978 !important; }
    .buttonContainer_button--ghost:hover {
      background-color: #fffafc !important; }
    .buttonContainer_button--ghost:hover .buttonContainer_button_text {
      color: #B53978 !important;
      text-decoration: none !important; }
  .buttonContainer_button--disabled {
    background-color: #d1d1d1; }
    .buttonContainer_button--disabled:hover {
      background-color: #d1d1d1 !important;
      cursor: default !important; }
    .buttonContainer_button--disabled .buttonContainer_button_text {
      color: #656565 !important; }
    .buttonContainer_button--disabled .buttonContainer_button_icon {
      color: #656565 !important; }
  .buttonContainer_button_icon {
    display: block;
    margin: auto;
    color: #fff;
    font-size: 21px !important;
    height: 19px;
    text-align: center; }
  .buttonContainer_button--spin:hover {
    background-color: #FF4A1C !important;
    cursor: default !important; }
  .buttonContainer_button_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 1.2em; }
    .buttonContainer_button_text_icon {
      font-size: 1.3em;
      margin-right: 9px;
      margin-top: 1px; }
  .buttonContainer_button:hover {
    cursor: pointer;
    background-color: #C52233; }
  .buttonContainer_button:hover .buttonContainer_button_text {
    color: #fff;
    text-decoration: none !important; }

.footer {
  background-color: #3B4856;
  padding: 30px 20px;
  display: block;
  text-align: center; }
  .footer_icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    .footer_icons .iconContainer {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #fff;
      margin-right: 15px; }
      .footer_icons .iconContainer:last-of-type {
        margin-right: 0px; }
      .footer_icons .iconContainer:hover {
        cursor: pointer;
        background-color: #f4f4f4; }
      .footer_icons .iconContainer_icon {
        font-size: 20px;
        margin-top: 2px;
        color: #3B4856; }
  .footer_text {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 1.1em;
    color: #fff; }

@media only screen and (max-width: 630px) {
  .section_body_cards {
    grid-template-columns: 1fr !important; }

  .section:not(:last-of-type) {
    height: inherit !important; } }
@media only screen and (max-width: 500px) {
  .navContainer .logoContainer {
    margin-left: 10px; }
    .navContainer .logoContainer_text {
      display: none; }
  .navContainer .navItems {
    margin-right: 15px; }

  .heroSection_content {
    margin-top: 20px;
    display: block; }
  .heroSection_imageContainer {
    margin-bottom: 15px; }
    .heroSection_imageContainer_img {
      max-width: 300px; }
  .heroSection_textContainer {
    margin: 0px;
    text-align: center; }
    .heroSection_textContainer .buttonContainer_button {
      margin: auto;
      margin-top: 20px; } }
