//////////////////////////////
///////////Mixins/////////////
//////////////////////////////

$gradientDotColorOne: #A3CEF1;
$gradientDotColorTwo: #7BDFF9;
$gradientDotColorThree: #5FEEEB;
$gradientDotColorFour: #78F8C7;
$gradientDotColorFive: #B3FC99;
$gradientDotColorSix: #F9F871;

$colorBlack: #333;
$colorWhite: #fff;

@mixin flex {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin inlineFlex {
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin grid {
	display: -ms-grid;
    display: grid;
}

@mixin inlineGrid {
	display: -ms-inline-grid;
    display: inline-grid;
}

.iconContainer {
	@include flex;
	align-items: center;
	justify-content: center;
}

@mixin font-bree {
	font-family: "Bree Serif", "serif";
}

@mixin font-open-sans {
	font-family: "Open Sans", "sans-serif";
}

@mixin transition($property, $time) {
	-webkit-transition: $property $time;
	   -moz-transition: $property $time;
	     -o-transition: $property $time;
	        transition: $property $time;
}

@mixin transitionAll($time) {
	-webkit-transition: all $time;
	   -moz-transition: all $time;
	     -o-transition: all $time;
	        transition: all $time;
}

@mixin translateX($scale) {
	-webkit-transform: translateX($scale);
        -ms-transform: translateX($scale);
            transform: translateX($scale);
}

@mixin translateY($scale) {
	-webkit-transform: translateY($scale);
        -ms-transform: translateY($scale);
            transform: translateY($scale);
}

div, nav {
	box-sizing: border-box;
}

//////////////////////////////
////////////Body//////////////
//////////////////////////////

body {
	width: 100%;
	background-color: $colorWhite;
	margin: 0px;
	@include font-open-sans;
	font-size: 14px;
	color: $colorBlack;
}

.overflowHidden {
	overflow: hidden;
}

.boldText {
	font-weight: 700 !important;
}

.italicText {
	font-style: italic;
}

.whiteText {
	color: $colorWhite;
}

.displayNone {
	display: none !important;
}

.noUnderline {
	text-decoration: none !important;
}

.link {
	// color: #1b34a7 !important;
	color: #fff !important;
	text-decoration: underline !important;

	&:hover {
		// color: #1b34a7 !important;
		color: #fff !important;
		text-decoration: underline !important;
	}

}

.h1, .h2, .h3, .h4, .h5 {
	@include font-bree;
}

.paddingLeft5 {
	padding-left: 5px;
}

.fullHeight {
	height: 100vh;
}

.maxWidth {
	max-width: 1024px;
	margin: auto;
}

.pageContent {
	padding-top: 100px;
}

//////////////////////////////
///////////Layout/////////////
//////////////////////////////

.skipNav {
    position: absolute;
    left: -120px;
    top: 20px;
	font-size: 1.2em;
    line-height: 1.5em;
    color: $colorWhite;

    &:focus {
    	left: 140px;
    }

}

.navContainer {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	// box-shadow: 0px 2px 8px #e3e3e3;
	background: rgb(42,42,114);
	background: linear-gradient(90deg, rgba(42,42,114,1) 0%, rgba(50,14,59,1) 100%);

	&_content {
		@include inlineFlex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 20px;
		padding-right: 40px;
		width: 100%;

		.logoContainer {
			// margin-left: 20px;
			display: block;

			&_img {
				width: 100%;
				max-width: 50px;
				max-height: 50px;
				border-radius: 100%;
				display: block;
				margin: auto;
			}

			&_text {
				@include flex;
				display: block;
				margin: auto;
				height: 60px;
				width: 60px;
				border-radius: 100%;
				background-color: $colorWhite;
				margin: auto;
				margin-left: 15px;
				font-size: 2em;
				line-height: 60px;
				text-align: center;
			}

		}

		.navItems {
			@include inlineFlex;
			flex-wrap: wrap;
			align-items: center;
			// margin-right: 20px;

			.navItem {
				display: block;
				margin-right: 50px;

				&--button {
					padding: 10px 25px;
					padding-bottom: 12px;
					border: 1px solid $colorWhite;
					border-radius: 5px;
					@include transition(background-color, 0.2s);

					&:hover {
						background-color: $colorWhite;

						.navItem_text {
							color: #320e3b;
						}

					}

					.navItem_text {
						@include transition(color, 0.2s);
						text-decoration: none !important;
						
						// &:after {
						//     display: none;
						// }

					}

				}

				&:last-of-type {
					margin-right: 0px;
				}

				&:hover {
					cursor: pointer;

					.navItem_text {
						text-decoration: underline;

						// &:after {
						//     width: 50%;
						// }

					}

				}

				&_text {
					position: relative;
					font-size: 1.2em;
					text-decoration: none;
					color: $colorWhite;

					// &:after {
					// 	content: "";
					//     position: absolute;
					//     width: 0px;
					//     height: 3px;
					//     bottom: -15px;
					//     left: 25%;
					//     // border-radius: 10px;
					//     background-color: $colorWhite;
					//     @include transition(width, 0.2s);
					// }

				}

			}

		}

	}

	.gradientBar {
		display: block;
		height: 8px;
		width: 100%;
		background-color: $colorBlack;
		background: rgb(163,206,241);
		background: linear-gradient(90deg, rgba(163,206,241,1) 0%, rgba(123,223,249,1) 20%, rgba(95,238,235,1) 40%, rgba(120,248,199,1) 60%, rgba(179,252,153,1) 80%, rgba(249,248,113,1) 100%);
	}
	
}

.sectionContainer {

	.section {
		padding: 20px;

		&--hero {
			@include flex;
			align-items: center;
			justify-content: center;
			padding: 100px 0px;

			.section_content {
				width: 90%;
				@include grid;
				-ms-grid-columns: 345px 1fr;
				grid-template-columns: 345px 1fr;
				grid-column-gap: 40px;

				.tagLine {
					@include inlineFlex;
					align-items: center;
					width: fit-content;
					margin-bottom: 20px;
					padding: 15px 0px;
					border-top: 1px solid #eaeaea;
					border-bottom: 1px solid #eaeaea;

					&_divider {
						display: block;
						margin: 0px 15px;
						width: 1px;
						height: 15px;
						background-color: #d0d0d0;
					}

					&_h2 {
						margin: 0px;
						font-size: 1.2em;
						font-weight: 600;
					}

				}

				&_imageContainer {
					@include flex;
					align-items: center;

					&--mobile {
						display: none;
					}

					&_img {
						width: 100%;
						max-width: 260px;
						border-radius: 5px;
						display: block;
						margin: auto;
					}

				}

				&_textContainer {
					display: block;
					margin: auto;
					margin-left: 20px;

					&_p {
						margin: 0px;
						font-size: 18px;
						line-height: 32px;
					}

					.buttonContainer {

						&_button {
							margin-top: 20px;
						}

					}

				}

			}

		}

		&_content {
			display: block;
			margin: auto;
		}

	}

}

.sectionHeading {
	@include font-bree;
	margin: 0px;
	margin-bottom: 15px;

	&_h1 {
		margin: 0px;
		font-size: 2.8em;
	}
	
}

.sectionSubheading {
	@include font-bree;
	margin: 0px;
	margin-bottom: 10px;
	font-size: 2.4em;
}

.sectionText {
	// max-width: 900px;
	margin: 0px;
	margin-bottom: 15px;
	font-size: 1.2em;
	line-height: 1.7em;
}

.heroImagesContainer {
	@include grid;
	-ms-grid-columns: 45px 1fr;
	grid-template-columns: 45px 1fr;
	grid-column-gap: 40px;

	&--mobile {
		display: none;
		max-width: 350px;
		margin-top: 10px;
		margin-bottom: 30px;
		-ms-grid-columns: 1fr 45px;
		grid-template-columns: 1fr 45px;

		.section_content_imageContainer_img {
			max-width: 100% !important;
		}

	}

}

.gradientDotContainer {
	@include inlineGrid;
	-ms-grid-columns: 1fr 5px 1fr;
	grid-template-columns: 1fr 5px 1fr;
	margin: auto;

	&--mobile {
		display: none;
	}

	&_column {
		@include inlineFlex;
		flex-wrap: wrap;
		display: inline-block;

		&--marginTop {
			margin-top: 15px;
		}

		.gradientDot {
			display: block;
			height: 20px;
			width: 20px;
			margin-bottom: 10px;
			border-radius: 100%;

			&:last-of-type {
				margin-bottom: 0px;
			}

			&--1 {
				background-color: $gradientDotColorOne;
			}

			&--2 {
				background-color: $gradientDotColorTwo;
			}

			&--3 {
				background-color: $gradientDotColorThree;
			}

			&--4 {
				background-color: $gradientDotColorFour;
			}

			&--5 {
				background-color: $gradientDotColorFive;
			}

			&--6 {
				background-color: $gradientDotColorSix;
			}

		}

	}

}

.buttonContainer {

	&--inlineFlex {
		@include inlineFlex;

		.button {
			margin-right: 20px;

			&:last-of-type {
				margin-right: 0px;
			}

		}

	}

	&--grid {
		@include grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}

	.button {
		width: fit-content;
		@include flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		text-decoration: none !important;
		color: #fff !important;
		padding: 12px 25px;

		background-size: 200% 100%;
	    background-image: linear-gradient(to right, #DC0073 50%, #2A2A72 50%);
	    @include transitionAll(0.3s);

	    &--ghost {
	    	border: 1px solid #DC0073;
	    	background-color: $colorWhite;
	    	background-image: none;
	    	padding: 12px 20px;

	    	.button_text {
				color: #DC0073 !important;
				font-size: 1em;
			}

			&:hover {
				background-color: #fff5fa;

				.button_text {
					color: #DC0073 !important;
				}

			}

	    }

		&--disabled {
			background-color: #d1d1d1;

			&:hover {
				background-color: #d1d1d1 !important;
				cursor: default !important;
			}

			.button_text {
				color: #656565 !important;
			}

			.button_icon {
				color: #656565 !important;
			}

		}

		&_text {
			@include flex;
			align-items: center;
			color: $colorWhite;
			text-decoration: none;
			font-size: 1.1em;
			@include transition(color, 0.2s);

			&_icon {
				font-size: 1em;
				margin-left: 12px;
				margin-top: 3px;
			}

		}

		&:hover {
			cursor: pointer;
			background-position: -100% 0;
		}

		&:hover .button_text {
			color: $colorWhite;
			text-decoration: none;
		}

	}

}

.footer {
	background: rgb(42,42,114);
	background: linear-gradient(90deg, rgba(42,42,114,1) 0%, rgba(50,14,59,1) 100%);
	padding: 40px 20px;
	display: block;
	text-align: center;

	&_icons {
		@include inlineFlex;
		align-items: center;
		justify-content: center;

		.iconContainer {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background-color: $colorWhite;
			margin-right: 15px;
			text-decoration: none !important;
			@include transition(background-color, 0.3s);

			&:last-of-type {
				margin-right: 0px;
			}

			&:hover {
				cursor: pointer;
				background-color: $colorWhite;
			}

			&_icon {
				font-size: 24px;
				margin-top: 2px;
				color: $colorBlack;
			}

		}

	}

	&_text {
		display: block;
		margin: auto;
		margin-top: 30px;
		font-size: 1.4em;
		color: $colorWhite;

		&_icon {
			margin-right: 5px;
		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 1024px) {

	.sectionContainer {

		.section {

			&--hero {

				.section_content {
					-ms-grid-columns: 335px 1fr;
					grid-template-columns: 335px 1fr;
					grid-gap: 30px;

					.heroImagesContainer {
						grid-column-gap: 30px;
					}

					&_textContainer {
						margin-left: 10px;
					}

				}

			}

		}

	}

}

@media only screen and (max-width: 880px) {

	.sectionContainer {

		.section {

			&--hero {

				.section_content {
					-ms-grid-columns: 1fr;
					grid-template-columns: 1fr;

					.heroImagesContainer {

						&--mobile {
							@include grid;
						}

						&--desktop {
							display: none;
						}

					}

				}

			}

		}

	}

}

@media only screen and (max-width: 700px) {

	.sectionContainer {

		.section {
			width: 90%;
			margin: 30px auto;
		}

	}

}

@media only screen and (max-width: 600px) {

	.sectionContainer {

		.section {
			margin: 30px auto;
			margin-bottom: 100px;
		}

	}

	.sectionHeading_h1 {
		font-size: 3em;
	}

	.buttonContainer {

		&--inlineFlex {
			display: block;

			.button {
				margin-right: 0px;
				margin-bottom: 20px;

				&:last-of-type {
					margin-bottom: 0px;
				}

			}

		}

		.button {
			width: 100%;
		}

	}

}

@media only screen and (max-width: 500px) {

	.sectionContainer {

		.section {

			&--hero {

				.section_content {

					.heroImagesContainer {

						&--mobile {
							-ms-grid-columns: 1fr 35px;
							grid-template-columns: 1fr 35px;
							grid-column-gap: 20px;

							.gradientDotContainer {

								.gradientDot {
									height: 15px;
									width: 15px;
								}

							}

						}

					}

				}

			}

		}

	}

}