//////////////////////////////
///////////Mixins/////////////
//////////////////////////////

// @import "/var/www/html/css/global_mixins.scss";

@mixin flex {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin inlineFlex {
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin grid {
	display: -ms-grid;
    display: grid;
}

.iconContainer {
	@include flex;
	align-items: center;
	justify-content: center;
}

@mixin font-lora {
	font-family: "Lora", "serif";
}

@mixin font-merriweather {
	font-family: "Merriweather", "serif";
}

//////////////////////////////
////////////Body//////////////
//////////////////////////////

body {
	@include font-lora;
	font-size: 12px;
	margin: 0px;
	padding-top: 70px;
	color: #333;
	background-color: #f4f4f4;
	width: 100%;
}

.overflowHidden {
	overflow: hidden;
}

.boldText {
	font-weight: 700 !important;
}

.italicText {
	font-style: italic;
}

.displayNone {
	display: none !important;
}

.link {
	color: #1b34a7 !important;
	text-decoration: underline !important;

	&:hover {
		color: #1b34a7 !important;
		text-decoration: underline !important;
	}

}

//////////////////////////////
///////////Layout/////////////
//////////////////////////////

.navContainer {
	background-color: #fff;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	box-shadow: 0px 2px 8px #bfbfbf;

	&_content {
		@include inlineFlex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px;
		width: 100%;

		.logoContainer {
			@include inlineFlex;
			margin-left: 20px;

			&_img {
				width: 100%;
				max-width: 50px;
				max-height: 50px;
				border-radius: 100%;
				display: block;
				margin: auto;
			}

			&_text {
				display: block;
				margin: auto;
				margin-left: 15px;
				font-size: 1.6em;
			}

		}

		.navItems {
			@include inlineFlex;
			flex-wrap: wrap;
			align-items: center;
			margin-right: 20px;

			&_item {
				display: block;
				margin-right: 25px;

				&:last-of-type {
					margin-right: 0px;
				}

				&:hover {
					cursor: pointer;

					.navItems_item_text {
						text-decoration: underline;
					}

				}

				&_text {
					font-size: 1.2em;
					font-weight: 500;
					text-decoration: none;
				}

			}

		}

	}

	.gradientBar {
		display: block;
		height: 5px;
		width: 100%;
		background-color: #333;
		background: rgb(0,111,167);
		background: linear-gradient(90deg, rgba(0,111,167,1) 0%, rgba(0,146,188,1) 20%, rgba(0,179,184,1) 40%, rgba(24,209,161,1) 60%, rgba(152,233,131,1) 80%, rgba(249,248,113,1) 100%);
	}
	
}

.heroSection {
	height: calc(100vh - 110px);
	padding: 20px;
	@include flex;
	align-items: center;
	justify-content: center;

	&_content {
		display: block;
		margin: auto;
		@include grid;
		-ms-grid-columns: 200px 1fr;
		grid-template-columns: 200px 1fr;
	}

	&_imageContainer {
		@include flex;
		align-items: center;

		&_img {
			width: 100%;
			max-width: 200px;
			border-radius: 100%;
			display: block;
			margin: auto;
		}

	}

	&_textContainer {
		display: block;
		margin: auto;
		margin-left: 30px;

		&_h1 {
			margin: 0px;
			font-size: 3em;
			line-height: 2em;
			@include font-merriweather;
		}

		&_h2 {
			margin: 0px;
			font-size: 2em;
			line-height: 2em;
			font-weight: 500;
		}

		.buttonContainer {

			&_button {
				margin-top: 20px;
			}

		}

	}

}

.section {
	height: calc(100vh - 110px);
	padding: 20px;

	&_header {
		display: block;
		padding-bottom: 20px;
		text-align: center;

		&_h2 {
			margin: 0px;
			font-size: 1.8em;
		}

	}

	&_body {
		// padding-top: 20px;

		&_imageContainer {
			text-align: center;

			&_img {
				width: 50%;
				max-width: 400px;
				box-shadow: 0px 2px 8px #e3e3e3;
				display: inline-block;
				margin: auto;
				margin-right: 30px;

				&:last-of-type {
					margin-right: 0px;
				}

				&:hover {
					cursor: pointer;
				}

			}

		}

		&_p {
			margin: 0px;
			font-size: 1.2em;
			line-height: 1.9em;
			// width: 90%;
			max-width: 1024px;
			margin: 20px auto;
			margin-top: 0px;
		}

		&_cards {
			@include grid;
			-ms-grid-columns: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
			// width: 90%;
			max-width: 1024px;
			margin: 20px auto;
			margin-top: 30px;

			.card {
				background-color: #fff;
				box-shadow: 0px 2px 8px #e3e3e3;
				border-radius: 10px;
				padding: 15px;

				&_header {
					@include inlineFlex;
					align-items: center;
					padding-bottom: 12px;
					border-bottom: 1px solid #eaeaea;
					width: 100%;

					&_iconContainer {
					    height: 35px;
					    width: 35px;
					    border-radius: 20px;
					    background-color: #f7f3f5;
					    margin-right: 10px;

						&_icon {
							font-size: 1.5em;
							color: #B53978;
							margin-top: 1px;
						}

					}

					&_h3 {
						margin: 0px;
						font-size: 1.4em;
						color: #B53978;
					}

				}

				&_body {
					padding-top: 12px;

					&_p {
						margin: 0px;
						font-size: 1.2em;
						line-height: 1.9em;
						color: #333;

						span {
							color: #B53978;
						}

					}

				}

			}

		}

	}

}

.buttonContainer {

	&--grid {
		@include grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}

	&_button {
		@include flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 40px;
		border-radius: 6px;
		background-color: #C52233;
		color: #fff !important;
		text-decoration: none !important;

		&--ghost {
			background-color: #fff;
			border: 2px solid #B53978;
			color: #B53978 !important;

			.buttonContainer_button_text {
				color: #B53978 !important;
			}

			&:hover {
				background-color: #fffafc !important;
			}

			&:hover .buttonContainer_button_text {
				color: #B53978 !important;
				text-decoration: none !important;
			}

		}

		&--disabled {
			background-color: #d1d1d1;

			&:hover {
				background-color: #d1d1d1 !important;
				cursor: default !important;
			}

			.buttonContainer_button_text {
				color: #656565 !important;
			}

			.buttonContainer_button_icon {
				color: #656565 !important;
			}

		}

		&_icon {
			display: block;
			margin: auto;
			color: #fff;
			font-size: 21px !important;
			height: 19px;
			text-align: center;
		}

		&--spin {

			&:hover {
				background-color: #FF4A1C !important;
				cursor: default !important;
			}

		}

		&_text {
			@include flex;
			align-items: center;
			color: #fff !important;
			text-decoration: none !important;
			font-size: 1.2em;

			&_icon {
				font-size: 1.3em;
				margin-right: 9px;
				margin-top: 1px;
			}

		}

		&:hover {
			cursor: pointer;
			background-color: #C52233;
		}

		&:hover .buttonContainer_button_text {
			color: #fff;
			text-decoration: none !important;
		}

	}

}

.footer {
	background-color: #3B4856;
	padding: 30px 20px;
	// @include flex;
	// align-items: center;
	// justify-content: center;
	display: block;
	text-align: center;

	&_icons {
		@include inlineFlex;
		align-items: center;
		justify-content: center;

		.iconContainer {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-color: #fff;
			margin-right: 15px;
			// transition: background-color 0.2s;

			&:last-of-type {
				margin-right: 0px;
			}

			&:hover {
				cursor: pointer;
				background-color: #f4f4f4;
			}

			&_icon {
				font-size: 20px;
				margin-top: 2px;
				color: #3B4856;
			}

		}

	}

	&_text {
		display: block;
		margin: auto;
		margin-top: 20px;
		font-size: 1.1em;
		color: #fff;
	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 630px) {

	.section_body_cards {
		grid-template-columns: 1fr !important;
	}

	.section:not(:last-of-type) {
		height: inherit !important;
	}

}

@media only screen and (max-width: 500px) {

	.navContainer {

		.logoContainer {
			margin-left: 10px;

			&_text {
				display: none;
			}

		}

		.navItems {
			margin-right: 15px;
		}

	}

	.heroSection {

		&_content {
			margin-top: 20px;
			display: block;
		}

		&_imageContainer {
			margin-bottom: 15px;

			&_img {
				max-width: 300px;
			}

		}

		&_textContainer {
			margin: 0px;
			text-align: center;

			.buttonContainer {

				&_button {
					margin: auto;
					margin-top: 20px;
				}

			}

		}

	}

}






